<header class="header">
  <h1>Overview</h1>
  <div class="user">
    <div class="icons" style="visibility: hidden;">
      <i class="fa-solid fa-magnifying-glass"></i>
      <i class="fa-solid fa-bell"></i>
    </div>
    <p class="name"><%- user.name %></p>
    <div class="user-img">
      <img src=<%- user.picture %> alt="user image" />
    </div>
  </div>
</header>
<div class="info-cards">
  <div class="info-card">
    <p>Open</p>
    <p>21</p>
  </div>
  <div class="info-card">
    <p>Unresolved</p>
    <p>43</p>
  </div>
  <div class="info-card">
    <p>On hold</p>
    <p>35</p>
  </div>
  <div class="info-card">
    <p>Overdue</p>
    <p>16</p>
  </div>
</div>