<div class="hamburger">
  <div></div>
  <div></div>
  <div></div>
</div>

<div class="sidebar">
  <div class="logo-container">
    <a class="header__link" href="/">
      <svg class="header__logo" viewBox="-25 0 150 20">
        <title>SmartHouse logo</title>
        <use xlink:href="images/assets/sprite.svg#logo"></use>
      </svg>
    </a>
    <i class="fa-solid fa-xmark close-btn"></i>
  </div>

  <nav class="sidebar-nav">
    <ul>
      <!--
      <a href="dashboard">
        <li>
          <i class="fa-solid fa-chart-pie"></i>
          <p>Overview</p>
        </li>
      </a>
      -->
      <a href="devices">
        <li>
          <i class="fa-solid fa-satellite-dish"></i>
          <p>Devices</p>
        </li>
      </a>
      <a href="settings">
        <li>
          <i class="fa-solid fa-sliders"></i>
          <p>Settings</p>
        </li>
      </a>
    </ul>


    <a href="logout">
      <ul>
        <li>
          <i class="fa-solid fa-right-from-bracket"></i>
          <p>Log Out</p>
        </li>
      </ul>
    </a>
  </nav>
  <div class="fill-bottom"></div>
</div>