<section class="footer__app">
  <div class="footer__container">
    <h2 class="footer__title">Sign up and Scoot off today</h2>
    <ul class="footer__app-list">
      <li>
        <a class="footer__app-link footer__app-link--apple" href="#">
          <span class="visually-hidden">Sign up now</span>
        </a>
      </li>
      <li>
        <a class="footer__app-link footer__app-link--google" href="#">
          <span class="visually-hidden">Get support</span>
        </a>
      </li>
    </ul>
  </div>
</section>
<section class="footer__main">
  <div class="footer__container">
    <a class="footer__logo-link" href="/">
      <svg class="footer__logo" viewBox="0 0 75 20">
        <title>Scoot logo</title>
        <use href="/images/assets/sprite.svg#logo"></use>
      </svg>
    </a>
    <ul class="footer__nav">
      <li>
        <a class="footer__nav-link" href="about">About</a>
      </li>
      <li>
        <a class="footer__nav-link" href="location">Location</a>
      </li>
      <li>
        <a class="footer__nav-link" href="careers">Careers</a>
      </li>
    </ul>
    <ul class="footer__social social">
      <li class="social__item">
        <a class="social__link" href="#">
          <svg class="social__icon" viewBox="0 0 24 24">
            <title>Link to our facebook</title>
            <use href="/images/assets/sprite.svg#facebook"></use>
          </svg>
        </a>
      </li>
      <li class="social__item">
        <a class="social__link social__link--twitter" href="#">
          <svg class="social__icon" viewBox="0 0 24 24">
            <title>Link to our twitter</title>
            <use href="/images/assets/sprite.svg#twitter"></use>
          </svg>
        </a>
      </li>
      <li class="social__item">
        <a class="social__link" href="#">
          <svg class="social__icon" viewBox="0 0 24 24">
            <title>Link to our instagram</title>
            <use href="/images/assets/sprite.svg#instagram"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</section>