<button class="header__menu-button" type="button">
  <span class="visually-hidden">Show/hide menu</span>
</button>
<a class="header__link" href="/">
  <svg class="header__logo" viewBox="0 0 75 20">
    <title>SmartHouse logo</title>
    <use xlink:href="images/assets/sprite.svg#logo"></use>
  </svg>
</a>
<nav class="header__navigation navigation">
  <ul class="navigation__list">
    <li>
      <a class="navigation__link" href="about">About</a>
    </li>
    <li>
      <a class="navigation__link" href="location">Location</a>
    </li>
    <li>
      <a class="navigation__link" href="careers">Careers</a>
    </li>
  </ul>
  <a class="navigation__button button" href="<%- value %>"><%- state %></a>
</nav>