<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" type="image/png" sizes="32x32" href="images/assets/iot.png" />
  <title><%- title %></title>
  <link rel="stylesheet" href="stylesheets/landing.css">
  <script defer type="module" src="javascripts/dropDown-Menu.js"></script>
</head>

<body class="page">

  <header class="header">
    <%- include('../partials/header.ejs') %>
  </header>

  <main class="page__main">
    <%- body %>
  </main>

  <footer class="footer">
    <%- include('../partials/footer.ejs') %>
  </footer>

</body>


</html>