<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%- title %></title>
  <link rel="stylesheet" href="stylesheets/login-signup.css" />
  <link rel="icon" type="image/png" sizes="32x32" href="images/assets/iot.png" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <script src="javascripts/login-signup.js" defer></script>
  <script src="javascripts/owasp-password-strength-test.js"></script>
  <script src="https://unpkg.com/vh-check/dist/vh-check.min.js"></script>
  <link href="https://fonts.googleapis.com/css2?family=Jaldi&family=Manrope:wght@400;700&display=swap" rel="stylesheet" />
  <script src="https://kit.fontawesome.com/6faef4fc76.js" crossorigin="anonymous"></script>
</head>

<body>
  <div class="blur"></div>
  <main>
    <%- body %>
  </main>
</body>


</html>