<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" type="image/png" sizes="32x32" href="images/assets/favicon-32x32.png" />
  <title>Smart House</title>
  <link rel="stylesheet" href="stylesheets/style.css">
  <script defer type="module" src="javascripts/script.js"></script>
</head>

<body class="page">
  <main>
    <%- body %>
  </main>
</body>


</html>