<section class="page-header page-header--about">
  <div class="page-header__container">
    <h1 class="page-header__title">About</h1>
  </div>
</section>
<section class="info">
  <h2 class="visually-hidden">About us</h2>
  <ul class="info__list">
    <li class="info__item info__item--digital-era">
      <div class="info__container">
        <p class="info__title">No mobility for the digital era</p>
        <p class="info__text">
          Sitting and managing should be&nbsp;simple (and even fun!) for
          everyone. We&nbsp;embrace technology to&nbsp;provide low cost,
          smart access to&nbsp;devices at&nbsp;your fingertips.
        </p>
      </div>
    </li>
    <li class="info__item info__item--better-living">
      <div class="info__container">
        <p class="info__title">Better urban living</p>
        <p class="info__text">
          We facilitate seamless connectivity among devices, centralizing their management effortlessly. Our cutting-edge technology operates entirely remotely, and we take pride in offsetting the minimal energy footprint associated with each controlled device.
        </p>
      </div>
    </li>
  </ul>
</section>
<section class="values">
  <h2 class="values__title">Our values</h2>
  <ul class="values__list">
    <li class="values__item values__item--tech">
      <p class="values__subtitle">Our tech</p>
      <p class="values__text">
        We harness cutting-edge technology to propel accessible urban innovation forward. Our fully centralized solution ensures a delightful user experience!
      </p>
    </li>
    <li class="values__item values__item--integrity">
      <p class="values__subtitle">Our integrity</p>
      <p class="values__text">
        We are wholeheartedly dedicated to providing an exceptional yet secure and sustainable micro-management experience in every household we serve."
      </p>
    </li>
    <li class="values__item values__item--community">
      <p class="values__subtitle">Our community</p>
      <p class="values__text">
        Dedicated to community well-being, we're reshaping urban living by erasing mobility constraints. Join us in creating smart, accessible neighborhoods for a brighter future.
      </p>
    </li>
  </ul>
</section>
<section class="faq" id="faq">
  <h2 class="faq__title">FAQs</h2>
  <h3 class="faq__subtitle">How it works</h3>
  <ul class="faq__list">
    <li>
      <details class="faq__answer">
        <summary class="faq__question">
          How do&nbsp;I start?
        </summary>
        <p class="faq__text">
          To&nbsp;start using the Scoot website, First create an account
          then log in&nbsp;to your account and discover our user dashboard.
          An&nbsp;even simpler way to&nbsp;do&nbsp;it&nbsp;would
          be&nbsp;to&nbsp;click the relevant link at&nbsp;the bottom
          of&nbsp;this page and you&rsquo;ll be&nbsp;re-directed
          to&nbsp;the correct page.
        </p>
      </details>
    </li>
    <li>
      <details class="faq__answer">
        <summary class="faq__question">
          Can I&nbsp;find a&nbsp;nearby Devices?
        </summary>
        <p class="faq__text">
          Definitely! Simply open up&nbsp;the website and link&nbsp;us
          with&nbsp;your controller while using&nbsp;it. We&rsquo;ll show
          you all of&nbsp;the closest devices and some extra useful
          information.
        </p>
      </details>
    </li>
    <li>
      <details class="faq__answer">
        <summary class="faq__question">
          Do&nbsp;I&nbsp;need a&nbsp;Controller to&nbsp;start managing?
        </summary>
        <p class="faq__text">
          Yes, we include comprehensive setup and troubleshooting instructions within the contract. Additionally, our expert technicians are readily available for assistance over the phone.
        </p>
      </details>
    </li>
  </ul>
  <h3 class="faq__subtitle">Safe managing</h3>
  <ul class="faq__list">
    <li>
      <details class="faq__answer">
        <summary class="faq__question">
          Should I&nbsp;follow the&nbsp;Safety Measurements?
        </summary>
        <p class="faq__text">
          Yes, please&nbsp;do! All houses have different measurements based on equipments provider. But
          we&nbsp;strongly strongly strongly recommend always follow
          the&nbsp;safety measurements regardless of&nbsp;the equipments provider &laquo;Ex: The ideology of X provider equipments never break&raquo;. We&nbsp;like
          you and we&nbsp;want you to&nbsp;be&nbsp;as safe
          as&nbsp;possible while managing.
        </p>
      </details>
    </li>
    <li>
      <details class="faq__answer">
        <summary class="faq__question">
          How about the Rules &amp;&nbsp;Regulations?
        </summary>
        <p class="faq__text">
          Now is&nbsp;not the time to&nbsp;be&nbsp;a&nbsp;rule breaker.
          Be&nbsp;sure you&rsquo;re complying with all local laws and
          regulations. Also, just be&nbsp;a&nbsp;good human being.
          Be&nbsp;sure not to&nbsp;connect to others controller/devices&nbsp;you
          can get your account blocked and&nbsp;get in&nbsp;lawsuit&rsquo;s.
        </p>
      </details>
    </li>
    <li>
      <details class="faq__answer">
        <summary class="faq__question">
          What if&nbsp;I damage my&nbsp;Controller?
        </summary>
        <p class="faq__text">
          Be&nbsp;sure to&nbsp;read our terms and conditions carefully.
          Not the most fun job we&nbsp;know but we&nbsp;make
          it&nbsp;as&nbsp;clear as&nbsp;possible. There&rsquo;s
          an&nbsp;option to&nbsp;add insurance for the controller, or&nbsp;you
          can sign up&nbsp;for annual insurance if&nbsp;you&rsquo;re
          controller can get damaged frequently.
        </p>
      </details>
    </li>
  </ul>
</section>