<section class="page-header page-header--inner">
  <div class="page-header__container">
    <h1 class="page-header__title">Careers</h1>
  </div>
</section>
<section class="info">
  <ul class="info__list">
    <li class="info__item info__item--join-us">
      <div class="info__container">
        <h2 class="info__title">Care to join our mission?</h2>
        <p class="info__text">
          We&rsquo;re always looking for ambitious individuals
          to&nbsp;help&nbsp;us on&nbsp;our journey. If&nbsp;you&rsquo;re
          passionate about our mission to&nbsp;provide clean, accessible
          house management and to&nbsp;improve urban living we&nbsp;want to&nbsp;hear
          from you!
        </p>
        <a class="info__button button" href="#">Say hello</a>
      </div>
    </li>
  </ul>
</section>
<section class="values">
  <h2 class="values__title">Why join us?</h2>
  <ul class="values__list">
    <li class="values__item values__item--team_work">
      <p class="values__subtitle">Team Work</p>
      <p class="values__text">
        Embracing the motto &laquo;Team work makes the dream work&raquo;, our primary goal is achieved through collaboration. Join our exceptional team, where mutual support and problem-solving are not just tasks but a delightful journey!
      </p>
    </li>
    <li class="values__item values__item--ambition">
      <p class="values__subtitle">Our Ambition</p>
      <p class="values__text">
        We are wholeheartedly committed to delivering not only exceptional but also bug-free and sustainable services. Our dedicated team is eager to learn, irrespective of experience, to ensure the highest quality service for our clients.
      </p>
    </li>
    <li class="values__item values__item--happy_environment">
      <p class="values__subtitle">Our Moralities</p>
      <p class="values__text">
        Emphasizing strong moral values, our developer recruitment focuses on building a team that thrives on integrity. Join us, and your journey as a developer will not only be professionally rewarding but also rooted in a positive and happy work environment.
      </p>
    </li>
  </ul>
</section>
<section class="jobs">
  <h2 class="visually-hidden">Our job offers</h2>
  <ul class="jobs__list">
    <li class="jobs__item">
      <p class="jobs__title">General manager</p>
      <p class="jobs__place">Algeria, Algiers</p>
      <a class="jobs__button button" href="#">Apply</a>
    </li>
    <li class="jobs__item">
      <p class="jobs__title">UI/UX designer</p>
      <p class="jobs__place">Algeria, Kouba</p>
      <a class="jobs__button button" href="#">Apply</a>
    </li>
    <li class="jobs__item">
      <p class="jobs__title">Blog content copywriter</p>
      <p class="jobs__place">Algeria, Kouba</p>
      <a class="jobs__button button" href="#">Apply</a>
    </li>
    <li class="jobs__item">
      <p class="jobs__title">Graphic designer</p>
      <p class="jobs__place">Algeria, Kouba</p>
      <a class="jobs__button button" href="#">Apply</a>
    </li>
    <li class="jobs__item">
      <p class="jobs__title">Fleet supervisor</p>
      <p class="jobs__place">Algeria, Algiers</p>
      <a class="jobs__button button" href="#">Apply</a>
    </li>
    <li class="jobs__item">
      <p class="jobs__title">UX analyst</p>
      <p class="jobs__place">Algeria, Algiers</p>
      <a class="jobs__button button" href="#">Apply</a>
    </li>
  </ul>
</section>