<div class="trends-container">
  <div class="trends">
    <p class="trend-title">Today's trends</p>
    <img src="" alt="chart">
  </div>
  <div class="data-container">
    <div class="data-item">
      <p>Devices</p>
      <p>0</p>
    </div>
    <div class="data-item">
      <p>Online Devices</p>
      <p>0</p>
    </div>
    <div class="data-item">
      <p>Offline Devices</p>
      <p>0</p>
    </div>
    <div class="data-item">
      <p>Average Response time</p>
      <p>0</p>
    </div>
  </div>
</div>