<div class="trends-container">
  <div class="trends">
    <p class="trend-title">Today's trends</p>
    <img src="" alt="chart">
  </div>
  <div class="data-container">
    <div class="data-item">
      <p>Resolved</p>
      <p>449</p>
    </div>
    <div class="data-item">
      <p>Received</p>
      <p>426</p>
    </div>
    <div class="data-item">
      <p>Average response time</p>
      <p>3h 8m</p>
    </div>
    <div class="data-item">
      <p>Resolution within SLA</p>
      <p>94%</p>
    </div>
  </div>
</div>

<div class="lg-cards">
  <div class="lg-card">
    <div class="card-header">
      <div class="card-title">
        <h2>Unresolved Tickets</h2>
        <a href="#">View details</a>
      </div>
      <p>Group: <span>Support</span></p>
    </div>
    <div>
      <p>Waiting on Feature Request</p>
      <p class="lg-card-num">4238</p>
    </div>
    <div>
      <p>Awaiting Customer Response</p>
      <p class="lg-card-num">1005</p>
    </div>
    <div>
      <p>Awaiting Developer Fix</p>
      <p class="lg-card-num">905</p>
    </div>
    <div>
      <p>Pending</p>
      <p class="lg-card-num">281</p>
    </div>
  </div>
  <div class="lg-card">
    <div class="card-header">
      <div class="card-title">
        <h2>Tasks</h2>
        <a href="#">View all</a>
      </div>
      <p>Today</p>
    </div>
    <div>
      <div class="checkbox-container">
        <div class="checkbox">
          <input type="checkbox" id="checkbox1">
          <label for="checkbox1"></label>
        </div>
        <p>Finish ticket update</p>
      </div>
      <p class="badge" style="background-color: #fec400; color: #fff;">Urgent</p>
    </div>
    <div>
      <div class="checkbox-container">
        <div class="checkbox">
          <input type="checkbox" id="checkbox2">
          <label for="checkbox2"></label>
        </div>
        <p>Create new ticket example</p>
      </div>
      <p class="badge" style="background-color: #29cc97; color: #fff;">New</p>
    </div>
    <div>
      <div class="checkbox-container">
        <div class="checkbox">
          <input type="checkbox" id="checkbox3">
          <label for="checkbox3"></label>
        </div>
        <p>Update ticket report</p>
      </div>
      <p class="badge">Default</p>
    </div>
    <div>
      <div class="checkbox-container">
        <div class="checkbox">
          <input type="checkbox" id="checkbox4">
          <label for="checkbox4"></label>
        </div>
        <p>Close ticket report</p>
      </div>
      <p class="badge" style="background-color: #3751ff; color: #fff;">Assigned</p>
    </div>
  </div>
</div>