 <div id="wrapper">
   <table id="keywords" cellspacing="0" cellpadding="0">
     <thead>
       <tr>
         <th><span>Device Name</span></th>
         <th><span>Characteristic Name</span></th>
         <th><span>Characteristic ID</span></th>
         <th><span>Controller ID</span></th>
         <th><span>Updated At</span></th>
         <th><span>Option</span></th>
       </tr>
     </thead>
     <tbody>
       <tr>
         <td class="lalign">Capteur GAZ</td>
         <td>Consommation GAZ</td>
         <td>0x4442</td>
         <td>05a6bc5b-09e3-4303-93bd-3b02b2b854e4</td>
         <td>2024-05-21 01:37:24.002</td>
         <td><input type="number" name="gaz" id="gaz" placeholder="55 WH"></td>
       </tr>
       <tr>
         <td class="lalign">Capteur GAZ</td>
         <td>Status</td>
         <td>0x4441</td>
         <td>05a6bc5b-09e3-4303-93bd-3b02b2b854e4</td>
         <td>2024-05-21 01:37:24.002</td>
         <td><input type="number" name="gaz" id="gaz" placeholder="On"></td>
       </tr>
       <tr>
         <td class="lalign">Capteur multifonction</td>
         <td>Humidité</td>
         <td>0x3334</td>
         <td>05a6bc5b-09e3-4303-93bd-3b02b2b854e4</td>
         <td>2024-05-21 01:37:24.002</td>
         <td><input type="number" name="hum" id="hum" placeholder="40%"></td>
       </tr>
       <tr>
         <td class="lalign">Capteur multifonction</td>
         <td>Niveau CO2</td>
         <td>0x3332</td>
         <td>05a6bc5b-09e3-4303-93bd-3b02b2b854e4</td>
         <td>2024-05-21 01:22:24.002</td>
         <td><input type="number" name="CO" id="CO" placeholder="30 PPM"></td>
       </tr>
       <tr>
         <td class="lalign">Capteur multifonction</td>
         <td>Température</td>
         <td>0x3331</td>
         <td>05a6bc5b-09e3-4303-93bd-3b02b2b854e4</td>
         <td>2024-05-21 17:47:24.002</td>
         <td><input type="number" name="tem" id="tem" placeholder="10°C"></td>
       </tr>
     </tbody>
   </table>
 </div>