 <section class="page-header page-header--main">
   <h1 class="visually-hidden">Scoot -- scooter sharing app</h1>
   <div class="page-header__container">
     <p class="page-header__title">House Managing made simple</p>
     <p class="page-header__text">
       Scoot streamlines the convenience of modern living. Our smart devices are strategically placed in key locations throughout your home. Simply utilize our app to identify and access the nearest smart device with a tap, and you're in control of your smart home experience!
     </p>
     <a class="page-header__button button" href="<%- value %>"><%- state %></a>
   </div>
 </section>
 <section class="manual">
   <h2 class="visually-hidden">How to use</h2>
   <ul class="manual__list">
     <li class="manual__item manual__item--app">
       <p class="manual__title">Locate with website</p>
       <p class="manual__text">
         Discover the closest smart device in your intelligent home with our app. We consistently position these devices in high-demand zones, ensuring that one is always within easy reach for your seamless smart living experience.
       </p>
     </li>
     <li class="manual__item manual__item--scooter">
       <p class="manual__title">Choose your smart device</p>
       <p class="manual__text">
         We display crucial details for the devices nearest to you in your intelligent home. This way, you can easily assess their status and stay informed and empowered in managing your smart living environment.
       </p>
     </li>
     <li class="manual__item manual__item--ride">
       <p class="manual__title">Enjoy Managing</p>
       <p class="manual__text">
         Ensure device connection, which can be troublesome if the devices are far, if not start managing the functionalities with real-time feedback on the state.
       </p>
     </li>
   </ul>
 </section>
 <section class="info info--main">
   <h2 class="visually-hidden">About us</h2>
   <ul class="info__list info__list--main">
     <li class="info__item info__item--telemetry">
       <div class="info__container">
         <p class="info__title">Easy to use with real-time</p>
         <p class="info__text">
           The scoot website is&nbsp;available with real-time forwarding. This
           means it&nbsp;can show you your real-time data, how fast
           you&rsquo;re heart beat is, how warm you&rsquo;re house is,
           and many more things all in&nbsp;an&nbsp;easy to&nbsp;use website.
         </p>
         <a class="info__button button" href="about">Learn more</a>
       </div>
     </li>
     <li class="info__item info__item--near-you">
       <div class="info__container">
         <p class="info__title">Fast bug management & monitoring</p>
         <p class="info__text">
           Scoot provides quality service with monitoring up to &nbsp;<b>3</b>&nbsp;months. We&rsquo;re expanding rapidly, so is our architecture and service quality, so&nbsp;be&nbsp;sure
           to&nbsp;let&nbsp;us know if&nbsp;you come across any bugs, <b>PS</b>: slow network problems don't go under the monitoring policy, you should contact your service provider.
         </p>
         <a class="info__button button" href="about">Learn more</a>
       </div>
     </li>
     <li class="info__item info__item--payments">
       <div class="info__container">
         <p class="info__title">Zero hassle payments</p>
         <p class="info__text">
           Our payment is&nbsp;as&nbsp;easy as&nbsp;one two three. We&nbsp;accept most <b>BARIDI</b> cards and <b>Algerian Bank cards</b>. You can&nbsp;pay later? No&nbsp;worries! You can defer payment for up&nbsp;to&nbsp;a&nbsp;month. On top of that we follow a <b>1 Year Refund</b> policy.
         </p>
         <a class="info__button button" href="about">Learn more</a>
       </div>
     </li>
   </ul>
 </section>