<section class="page-header page-header--inner">
  <div class="page-header__container">
    <h1 class="page-header__title">Locations</h1>
  </div>
</section>
<section class="map">
  <h2 class="visually-hidden">Scoot is available in 4 major cities</h2>
  <picture class="map__image">
    <source srcset="/images/assets/map/world-map-desktop.png" media="(min-width: 1200px)" />
    <source srcset="/images/assets/map/world-map-tablet.png" media="(min-width: 768px)" />
    <img src="/images/assets/map/world-map-mobile.png" alt="City availability map" width="311" height="152" />
  </picture>
  <ul class="map__list">
    <li class="map__item map__item--Algiers">Algiers</li>
    <!--
    <li class="map__item map__item--Oran">Oran</li>
    <li class="map__item map__item--Constantine">Constantine</li>
    <li class="map__item map__item--Blida">Blida</li>
    -->
  </ul>
  <h3 class="map__title">Your Wilaya not listed?</h3>
  <p class="map__text">
    If&nbsp;you&rsquo;d like to&nbsp;see us in&nbsp;your Wilaya,
    be&nbsp;sure to&nbsp;let&nbsp;us know. We&nbsp;track requests and plan
    launches based on&nbsp;demand. Feel free to&nbsp;message&nbsp;us
    by&nbsp;clicking the link or&nbsp;messaging&nbsp;us on&nbsp;social.
  </p>
  <a class="map__button button" href="#">Message us</a>
</section>