@font-face {
  font-family: 'Lexend Deca';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/lexend-deca-400.woff2') format('woff2'),
    url('../fonts/lexend-deca-400.woff') format('woff');
}

@font-face {
  font-family: 'Space Mono';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/space-mono-700.woff2') format('woff2'),
    url('../fonts/space-mono-700.woff') format('woff');
}
