.social {
  display: grid;
  grid-template-columns: repeat(3, 24px);
  gap: 24px;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.social__link {
  display: block;
  width: 24px;
  height: 24px;
  color: var(--yellow);
  outline: none;
}

.social__link--twitter {
  height: 19px;
}

.social__link:hover,
.social__link:focus {
  color: white;
}
