.page {
  margin: 0;
  padding: 0;
  font-family: 'Lexend Deca', sans-serif;
  font-size: 15px;
  line-height: 1.67;
  color: var(--dim-grey);
}

@media (max-width: 767px) {

  .header--open + .page__main {
    margin-top: 64px;
  }
}
